@import 'https://use.typekit.net/laz6cpk.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/*colours*/
$portfolioWhite: #ffffff;
$portfolioBlack: #000000;

/*fonts*/
$headingFont: 'mongoose', sans-serif;
$bodyFont: 'futura-pt', sans-serif;

$fontBase: 30px;
$header3: 40px;
$header2: 60px;
$header1: 200px;

$regularFont: 400;
$boldFont: 700;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: $bodyFont;
    font-size: $fontBase;
    color: $portfolioBlack;
    font-weight: normal;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@font-face {
    font-family: "league spartan";
    src: url("https://static1.squarespace.com/static/63f75c603ec00c4fc6c10031/t/645b5f7a87931802ecb5ccb6/1683709818141/LeagueSpartan-Bold.otf");
}