/*colours*/
$portfolioWhite: #ffffff;
$portfolioBlack: #000000;

/*fonts*/
$headingFont: 'mongoose', sans-serif;
$bodyFont: 'futura-pt', sans-serif;

$fontBase: 30px;
$header3: 40px;
$header2: 60px;
$header1: 200px;

$regularFont: 400;
$boldFont: 700;