@use '../../../app/variables.module' as *;

.NavMenuBar {
  padding: 42px 56px 0 0;
  display: flex;
  justify-content: flex-end;
}

.NavMenuItem {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: $header3;
  font-weight: $boldFont;
  cursor: pointer;
  &:hover {
    color: #d9d9d9;
  }
}