@use '../../app/variables.module' as *;

.header {
  padding: 150px 100px 150px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.heading1 {
  display: block;
  font-size: $header1;
  font-weight: $boldFont;
  font-family: $headingFont;
  line-height: 180px;
}

.projectsSection {
  padding: 0 100px;
  font-size: $header3;
}

.filterContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;
}

.filterHeading {
  padding: 0 40px;
  text-transform: uppercase;
  font-size: $header3;
  font-weight: $boldFont;
}

.filterItem {
  padding: 0 40px;
  text-transform: uppercase;
  font-size: $header3;
  font-weight: $boldFont;
  cursor: pointer;
  :hover {
    color: #d9d9d9;
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  gap: 138px;
  padding-bottom: 138px;
}